.portfolio {
  background-color: rgb(255, 254, 254);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: top 33px;
}
.portfolioul {
  display: flex;
  margin: 10px;
  list-style: none;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.portfolioul li {
  color: black;
  font-size: 16px;
  margin-right: 50px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.portfolioul li.active {
  background-color: darkblue;
  color: white;
}

.portfoliocontainer{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.pimg{
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
}
 


.portfoliocontainer .items{
    width: 220px;
    overflow: hidden;
    height: 150px;
    border-radius: 20px;
    border: 1px solid lightgray;
    margin:10px 20px;
    color:white;
    position: relative;
    transition: all .5s ease;
}


.pimg:hover{

z-index: -34;
opacity: 0.2 ;
}
.items h3{
position: absolute;
font-size: 20px;
bottom: 57px;
left:56px;
cursor: pointer;
}

.items:hover{
background-color: darkblue;
cursor: pointer;
}


